html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none !important;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
.nav-link {
  color: #fff !important;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
}
.nav-link:hover {
  color: #F0145A !important;
  border-bottom: 1px solid #F0145A;
  transition: 0.5s;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 19px !important;
  font-weight: normal !important;
}

a {
  color: #B3B3BA !important;
}
a:hover {
  color: #F0145A !important;
  transition: 0.5s;
}

.linked {
  color: #fff;
}
.linked:hover {
  color: #F0145A;
  transition: 0.5s;
}

.bgn-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.active-btn {
  color: #F0145A !important;
}

.nav-link {
  color: #fff !important;
  border-bottom: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
}
.nav-link:hover {
  color: #F0145A !important;
  border-bottom: 1px solid #F0145A;
  transition: 0.5s;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  position: absolute;
  padding-top: 50px;
  width: 100%;
  z-index: 1;
}
.header-content-wrapper {
  position: relative;
}
.header__top {
  font-size: 16px;
}
.header__top .container-lg {
  position: relative;
}
.header__top-content {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -16px;
}
.header__top-content > div:not(:last-child) {
  margin-right: 6px;
}
.header__top-content > div:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 3px;
}
.header__top-lang input[name=lang] {
  display: none;
}
.header__top-lang input[name=lang]:checked + span {
  background-color: #F0145A;
}
.header__top-lang label span {
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  padding: 5px 7px;
  border-radius: 8px;
  display: inline-block;
}
.header__top-address a, .header__top-phone a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.header__top-phone a {
  font-weight: 700;
}
.header .navbar-brand {
  margin-top: -20px;
}
.header .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 20px;
}
.header .navbar .nav-link {
  font-weight: 700;
  padding-bottom: 3px;
}
.header .navbar .nav-link.active {
  border-bottom: 2px solid;
}

@media (min-width: 1024px) {
  .header__top-content {
    justify-content: flex-end;
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .header .navbar .container-lg {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1024px) {
  .header__top-content {
    position: static;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 0;
  }
  .header .navbar {
    padding: 15px 0 0 0;
  }
  .header .navbar-brand {
    margin: 0;
  }
  .header .navbar-toggler {
    border: none;
    padding: 5px !important;
  }
  .header .navbar-toggler:hover {
    background-color: rgba(230, 230, 240, 0.168627451);
    transition: 0.3s;
  }
  .header .navbar-toggler:focus {
    box-shadow: none;
    background-color: rgba(230, 230, 240, 0.168627451);
  }
  .header .navbar-toggler svg {
    fill: #fff;
    width: 35px;
    height: 35px;
  }
  .header .navbar .navbar-collapse {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
  }
  .header .navbar .navbar-collapse .nav-link {
    padding: 7px 0;
    text-align: center;
    border-radius: 12px;
    background-color: #F5F5FA;
    color: #24A3FF !important;
    font-weight: 700;
    font-size: 24px;
  }
  .header .navbar .navbar-collapse .nav-link:hover, .header .navbar .navbar-collapse .nav-link:active, .header .navbar .navbar-collapse .nav-link:focus {
    background-color: #E6E6F0 !important;
    transition: 0.3s;
    border-bottom: none !important;
  }
  .header__top {
    background-color: rgba(245, 245, 250, 0.2);
  }
  .header__top .container-lg {
    padding: 10px 15px;
  }
  .header__top-content {
    margin: 0;
    justify-content: space-between;
  }
  .header__top-content > div:not(:last-child):after {
    content: unset;
  }
  .header__top-address, .header__top-social {
    display: none;
  }
  .header__top-phone {
    margin: 0 !important;
  }
}

.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../assets/icons/banner-symbol.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}
.banner h1 {
  color: #fff;
  font-weight: 700;
  font-size: 38px;
}
.banner__scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.consistent {
  margin-top: 75px;
}
.consistent__wrapper {
  display: flex;
  justify-content: center;
}
.consistent__left-side {
  width: 30%;
  border-right: 1px solid #B3B3BA;
}
.consistent__right-side {
  width: 70%;
}
.consistent__right-side h6 {
  margin-left: 60px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}
.consistent__right-side p {
  margin-top: 24px;
  font-size: 19px;
  color: #fff;
  margin-left: 60px;
  max-width: 861px;
}
.consistent__left-title {
  display: flex;
  justify-content: flex-end;
}
.consistent__left-title h5 {
  background-image: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700;
  font-size: 24px;
  margin-right: 60px;
}
.consistent__wrapper-links {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 24px;
}
.consistent__link {
  font-weight: 700;
  font-size: 24px;
  margin-right: 60px;
}

@media (max-width: 1202px) {
  .consistent__link {
    margin-right: 40px;
  }
  .consistent h5 {
    margin-right: 40px;
  }
  .consistent__right-side h6 {
    margin-left: 40px;
  }
  .consistent__right-side p {
    margin-left: 40px;
  }
}
@media (max-width: 1024px) {
  .consistent__left-side {
    width: 40%;
  }
  .consistent__right-side {
    width: 60%;
  }
  .consistent__right-side h6 {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .consistent__wrapper {
    display: block;
    padding: 0 40px;
  }
  .consistent__left-side {
    width: 100%;
    border-right: none;
  }
  .consistent__left-title {
    justify-content: center;
  }
  .consistent__left-title h5 {
    margin-right: 0;
  }
  .consistent__wrapper-links {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .consistent__link {
    margin-right: 0;
  }
  .consistent__right-side {
    margin-top: 40px;
    border-top: 1px solid #B3B3BA;
    width: 100%;
  }
  .consistent__right-side h6 {
    margin-top: 60px;
    margin-left: 0;
  }
  .consistent__right-side p {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .consistent__link {
    font-size: 18px;
  }
}
@media (max-width: 380px) {
  .consistent__right-title {
    text-align: center;
  }
  .consistent__text {
    text-align: center;
  }
}
.others {
  margin-top: 70px;
}
.others__control-panel a {
  font-size: 14px;
  font-weight: 700;
}
.others__control-panel a span svg {
  margin-top: -2px;
}
.others__title {
  margin-top: 10px;
}
.others__title h3 {
  color: #F0145A;
  font-weight: 700;
}
.others__item-title {
  margin-top: 30px;
}
.others__item-title h5 {
  font-size: 22px;
  font-weight: 700;
  color: #24A3FF;
}
.others__item-text p {
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
  max-width: 494px;
}
.others__lower-line, .others__upper-line {
  margin-top: 60px;
  gap: 60px;
}

/*# sourceMappingURL=homepage.css.map */
