@import "common";

@import "components/header";

@import "components/banner";

@import "components/consistent";

@import "components/others";

@import "components/team";

@import "components/already";

@import "components/something";

@import "components/footer";