.team {
  margin-top: 70px;
  .container-option {
    padding: 0 30px;
  }
  figure {
    margin: 0;
  }
  figure img {
    max-width: 400px;
    max-height: 298px;
  }
  &__item-wrapper {
    background-color: #EDEDF7;
    border-radius: 12px;
  }
  /*
  &__link-wrap,
  &__title-case,
  &__member {
    margin-left: 30px;
  }

   */
  &__link-wrap {
    margin-top: 30px;
    a {
      font-size: 14px;
      color: #24A3FF !important;
    }
    svg {
      margin-top: -3px;
    }
  }
  &__title-case {
    margin-top: 10px;
    h3 {
      background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      font-weight: $font-bold;
      font-size: 28px;
    }
  }
  &__member {
    margin-top: 40px;
    h5 {
      font-size: 16px;
      font-weight: $font-bold;
      color: #B3B3BA;
    }
    p {
      font-size: 14px;
      font-weight: $font-bold;
      color: #B3B3BA;
    }
  }
}