@media (max-width: 768px) {
  .team {
    .container-lg {
      padding: 0 60px;
    }
    &__item-wrapper {
      flex-direction: column;
      figure img {
        width: 100%;
        max-width: none;
        border-radius: 24px;
      }
    }
  }
}

@media (max-width: 582px) {
  .team {
    .container-lg {
      padding: 0 30px;
    }
  }
}