.header {

  @media (min-width: 1024px) {
    &__top-content {
      justify-content: flex-end;
    }

  }

  @media (max-width: 1024px) and (min-width: 767px) {

    .navbar .container-lg {
      flex-direction: column;
      align-items: flex-start;
    }

  }

  @media (max-width: 1024px) {
    &__top-content {
      position: static;
      margin-bottom: 30px;
    }

  }


  @media (max-width: 767px) {

    & {
      padding-top: 0;
    }

    .navbar {
      padding: 15px 0 0 0;

      &-brand {
        margin: 0;
      }

      &-toggler {
        $icon-size: 35px;
        border: none;
        padding: 5px !important;

        &:hover {
          background-color: #e6e6f02b;
          transition: .3s;
        }

        &:focus {
          box-shadow: none;
          background-color: #e6e6f02b;
        }


        svg {
          fill: $white-color;
          width: $icon-size;
          height: $icon-size;
        }

      }

      .navbar-collapse {
        background-color: $white-color;
        padding: 20px;
        border-radius: 12px;
        margin-top: 20px;


        .nav-link {
          padding: 7px 0;
          text-align: center;
          border-radius: 12px;
          background-color: #F5F5FA;
          color: #24A3FF !important;
          font-weight: $font-bold;
          font-size: 24px;


          &:hover,
          &:active,
          &:focus {
            background-color: #E6E6F0 !important;
            transition: .3s;
            border-bottom: none !important;
          }
        }
      }


    }


    &__top {
      background-color: rgba(245, 245, 250, 0.2);

      .container-lg {
        padding: 10px 15px;
      }

      &-content {
        margin: 0;
        justify-content: space-between;

        & > div:not(:last-child):after {
          content: unset;
        }
      }

      &-address, &-social {
        display: none;
      }

      &-phone {
        margin: 0 !important;
      }
    }

  }
  @media (max-width: 512px) {
    .container {
      padding: 0;
    }
    &__top {
      background-color: #F5F5FA;
    }
  }
}