.others {
  margin-top: 70px;
  &__control-panel {
    a {
      font-size: 14px;
      font-weight: $font-bold;
      span svg {
        margin-top: -2px;
      }
    }
  }
  &__title {
    margin-top: 10px;
    h3 {
      color: $accent-color;
      font-weight: $font-bold;
    }
  }
  &__item-title {
    margin-top: 30px;
    h5 {
      font-size: 22px;
      font-weight: $font-bold;
      color: #24A3FF;
    }
  }
  &__item-text {
      p {
        margin-top: 15px;
        font-size: 16px;
        color: $white-color;
        max-width: 494px;
      }
  }
  &__upper-line {
    margin-top: 60px;
    gap: 60px;
    flex-wrap: wrap;
  }
  &__item {
    width: 29%;
  }
}