.legal {
  padding-top: 200px;
  &__title-case {
    h1 {
      font-size: 36px;
      font-weight: $font-bold;
      max-width: 662px;
      background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
  &__text-case {
    margin-top: 28px;
    p {
      font-size: $font-md;
      max-width: 662px;
    }
  }
  &__text-case-second-part {
    margin-top: 20px !important;
  }
  &__cell-title {
    h2 {
      font-size: 36px;
      font-weight: $font-bold;
      background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
  &__cell-text-content {
    p {
      font-size: $font-sm;
      color: #323264;
    }
  }
  &__cell-wrapper {
    gap: 14px;
    align-items: center;
  }
  &__cell-icon {
    margin-top: -10px;
  }
  &__right {
    flex-direction: column;
    gap: 40px;
    border-left: 2px solid #B3B3BA;
  }
  &__cell {
    padding-left: 30px;

  }
}