@media (max-width: 1024px) {
  .legal {
    padding-top: 260px;
  }
}

@media (max-width: 768px) {
  .legal {
    .container-lg {
      padding: 0 60px;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    .col-7,
    .col-5 {
      width: 100%;
    }
    &__right {
      margin-top: 30px;
    }
  }
}

@media (max-width: 512px) {
  .legal {
    padding-top: 180px;
    .container-lg {
      padding: 0 30px;
    }
  }
}