@media (max-width: 768px) {
  .quality {
    .container-lg {
      padding: 0 60px;
    }
    &__wrapper-content {
      flex-direction: column;
      align-items: center;
    }
    .col-5,
    .col-7 {
      width: 100%;
    }
    &__title-case {
      margin: 0;
      h2 {
        max-width: none;
        margin: 20px 0 0 0;
      }
    }
  }
}

@media (max-width: 512px) {
  .quality {
    .container-lg {
      padding: 0 30px;
    }
    &__title-case {
      h2 {
        font-size: 30px;
      }
    }
  }
}