.something {
  margin: 60px 0 0;
  &__link {
    margin-top: 30px;
    a {
      margin-top: 30px;
      color: #24A3FF !important;
      font-size: $font-md;
      font-weight: $font-bold;
      span svg {
        margin-top: -4px;
        margin-left: -4px;
      }
      &:hover {
        color: $accent-color !important;
        span svg {
          stroke: $accent-color;
          fill: $accent-color;
          transition: .5s;
        }
      }
    }
  }
  &__title {
    margin-top: 10px;
    h3 {
      font-size: 38px;
      font-weight: $font-bold;
      background-image: linear-gradient(90deg, #F0145A 1%, #EF8080 99%);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
  &__cards-wrapper {
    margin-top: 30px;
    gap: 30px;
  }
  &__card-one,
  &__card-two,
  &__card-three {
    width: calc(100%/3);
  }
  .card {
    border-radius: 10px;
    border: none;
    height: 100%;
    max-height: 530px;
    transition: box-shadow 1s ease-out 0.9s;
    &:hover {
      box-shadow: 9px 10px 18px 2px rgba(0,0,0,0.73);
      transition: 1s;
    }
  }
  .card-text {
    font-size: 14px;
  }
  .card-body {
    padding: 0 30px 40px;
  }
  &__card-title {
    padding: 0 30px;
    margin-top: 30px;
    h4 {
      font-size: 16px;
      font-weight: $font-bold;
      color: #24A3FF;
    }
  }
  &__card-date {
    margin-top: 15px;
    padding: 0 30px;

    p {
      font-size: 12px;
      font-weight: $font-bold;
      color: #B3B3BA;
      padding: 0 0 15px;
      border-bottom: 2px solid #B3B3BA;
    }
  }

}