.achievements {
  background-color: #F5F5FA;
  padding: 30px 0 70px;
  margin-top: 60px;
  .container-fluid {
    padding: 0 60px;
  }
  &__title {

    h3 {
      margin-top: 30px;
      text-align: center;
      font-size: 14px;
      font-weight: $font-bold;
    }
  }
  &__slider {
    margin-top: 30px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  &__case {
    background-color: $white-color;

    border-radius: 12px;
    width: 100%;
    border: 1px solid transparent;
    img {
      margin: 25px auto;
      /*
      max-width: 190px;
      max-height: 60px;
      width: 100%;
      height: 100%;

       */
    }
    &:hover {
      border: 1px solid $accent-color;
      transition: .5s;
    }
  }
}