@import "variables";

body {
  font-family: $main-font !important;
  font-size: $font-md !important;
  font-weight: normal !important;
}
a {
  color: #B3B3BA !important;
  &:hover {
    color: $accent-color !important;
    transition: .5s;
  }
}
.linked {
  color: $white-color;
  &:hover {
    color: $accent-color;
    transition: .5s;
  }
}
p {
  margin: 0 !important;
}
.bgn-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  /*
  border-radius: 0 0 12px 12px;
  box-shadow:

          0 1px 1px rgba(0,0,0,0.15),

          0 10px 0 -5px #CACADB,

          0 10px 1px -4px rgba(0,0,0,0.15),

          0 20px 0 -10px #E7E7F2,

          0 20px 1px -9px rgba(0,0,0,0.15);

  padding: 30px;

   */
  border-radius: 0 0 12px 12px;
  padding-bottom: 40px;
}
.bgn-add-one {
  border-radius: 0 0 12px 12px;
  background-color: #CACADB;
  width: 100%;
  height: 10px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-shadow-one {
  padding: 0 10px;
}
.bgn-add-two {
  border-radius: 0 0 12px 12px;
  background-color: #E7E7F2;
  width: 100%;
  height: 10px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-shadow-two {
  padding: 0 20px;
}
.active-btn {
  color: $accent-color !important;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50% !important;
  width: 14px !important;
  height: 14px !important;
  background-color: #24A3FF !important;
}
.carousel-indicators {
  bottom: -71px !important;
}
.bg-color-down {
  background-color: #F5F5FA;
}
.test-wrapper {
  background-color: #24A3FF;
}