@import "variables";

body {
  font-family: $main-font !important;
  font-size: $font-md !important;
  font-weight: normal !important;
}
a {
  color: #B3B3BA !important;
  &:hover {
    color: $accent-color !important;
    transition: .5s;
  }
}
.linked {
  color: $white-color;
  &:hover {
    color: $accent-color;
    transition: .5s;
  }
}

.bgn-gradient {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.active-btn {
  color: $accent-color !important;
}