$main-font: "Montserrat", sans-serif;
$font-md: 19px;
$font-sm: 16px;
$font-normal: 400;
$font-bold: 700;

$white-color: #fff;
$accent-color: #F0145A;





.nav-link {
  color: $white-color !important;
  border-bottom: 1px solid transparent;
  font-weight: $font-bold;
  font-size: 16px;
  &:hover {
    color: $accent-color !important;
    border-bottom: 1px solid $accent-color;
    transition: .5s;
  }
}